.positioning{
    border:1px solid black;
}
.outer{
    border:1px solid red;
    position: relative;
}
.first{
    width:300px;
    height:300px;
    background:yellow;
}
.second{
    width:200px;
    height:200px;
    background:yellowgreen;
    position: absolute;
    top:50px;
    left:50px;
    /*position:relative 로 세팅된 부모요소로부터 위에 50px 왼쪽으로 50px 떨어진 곳에 배치*/

}
.third{
    width:100px;
    height:100px;
    background: red;
    position:absolute;
    top:100px;
    left:100px
}

.fixed-area{
    width:100px;
    height:100px;
    background:red;
    /* position:fixed; */
}
.vis-test{
    width:100px;
    height:100px;
    border:1px solid black;
}
.vis-test1{background:red;}
.vis-test2{
    background: yellow;
    /* visibility:hidden; */
    display:none;
}
.vis-test3{background: green;}

.wrap{
    position:relative;
}
.z-test{
    width:150px;
    height:100px;
    border:1px solid black
}
.z-test1{
    background: yellow;
    position:absolute;
    top:100px;
    left:100px;
    z-index: 100;
}
.z-test2{
    background: green;
    position:absolute;
    top:50px;
    left:50px;
    z-index:500000000;
}
.z-test3{
    background: red;
    position:absolute;
   
}